#wrapperNav{
    display: grid;
    margin:0;
    height: 100vh;
    width: 100vw;
    grid-template:10% repeat(2,26%) 27% 10% / 20% 60% 20%;
    grid-template-areas: 
    "header header header"
    "aside startmain aside2"
    "aside startmain aside2"
    "aside startmain aside2"
    "footer footer footer";
}
#wrappercards{
    
    display: grid;
    margin: 0;
    height: 100vh;
    width: 100vw;
    grid-template: 10% repeat(2, 40%) 10% / repeat(3, 3fr);

    grid-template-areas:
    "header header header"
    "main main main"
    "main main main"
    "footer footer footer"
}
#wrapperend{
    display: grid;
    margin: 0;
    height: 100vh;
    width: 100vw;
    grid-template: 10% 70% 20% / repeat(3, 3fr);
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";

}
a:hover{
    color: aliceblue;
}



.main{
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-evenly;
}



.nav{
    grid-area: nav;
    width: 100%;
    height: 30px;
    background-color: orange;
    background-image: linear-gradient(to bottom, orange, white);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: end;
}
.aside1{
    grid-area: aside1;
    display: flex;

}
.aside2{
    grid-area: aside2;
    border: 2px black;
    padding: 20px;
    margin: 10px;
}

.aside{
    display: grid;
    grid-area: aside;
        border: 2px black;
    border-left: none;
    border-top: solid;
    border-bottom: solid;
    height: auto;
    width: auto;
}

.header{
    display: flex;
    grid-area: header;
    background-color: white;
    justify-content: stretch;
    flex-wrap: nowrap;
}

.footer{
    display: flex;
    grid-area: footer;
    background-image: linear-gradient(to bottom, orange, white);
    text-decoration: underline;
    align-items: center;
    justify-content: space-around;
}
.orangeborder{
    border:2px solid orangered;
}   
.border{
    border: 2px solid black;
}
.TitleLetter{
    height: 100%;
    letter-spacing: 140px;
    font-size: xx-large;
    overflow: hidden;
}
.title{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
    align-content: stretch;
    font-size: xx-large;

}
.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.orangegradient{
    background-color: orange;
    background-image: linear-gradient(to bottom, orange, white);
}


.cards{
    display: flex;
    border-radius: 50px;
    height: 40%;
    width: 30%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.cardstitle{
    align-self: end;
    text-align: center;
    height: 20%;
    width: 100%;
    background-color: whitesmoke;
    
}
#cards1{
    background-image:url(../img/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

#textboxmainright{
    margin-top: 30px;
}

.arima-arima {
  font-family: "Arima", system-ui;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

#aside1pictureHamburger{

    border-radius: 50px;
    overflow: hidden;
    height: 200px;
    width:  200px;
    background-image: url(../img/Webbsida-vinterWU.png);
    background-size: cover;
    background-position: center;
    justify-self: center;
    align-self: flex-end;
}   
#cards2{
    background-image: url(../img/maxine-guo-S73Q02otMCY-unsplash.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center; 
}

#cards3{
    background-image: url(../img/van-dara-ZFgS3cRGUNs-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#cards4{
    background-image: url(../img/fotografia-de-alimentos-YLQ_FQ5r0wI-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
}

#cards5{
    background-image: url(../img/andres-rodriguez-3jJtXTwLZw4-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#cards6{
    background-image: url(../img/usman-aslam-RNeeeiAnEyw-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.rounded{
    border-radius: 25px;
}

#endcard1{
    
}   
#endcard2{
    display: flex;
    flex-direction: column;
}
#endcard3{
    
}
#endmain{
    
}
.startmain{
    display: grid;
    grid-area: startmain;
    /*border: 2px black solid;*/
    height: auto;
    width: auto;
    margin: 10px;
}

#asidestart1{
    background-image: url(../img/jon-tyson-5PmmgCuPX3s-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 10px;
}

.margin{
    margin: 10px;
}
.lined{
    text-decoration: underline;
}
.shadow{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.padding{
    padding: 20px;
}