#wrapperNav{
    display: grid;
    margin:0;
    height: 100vh;
    width: 100vw;
    grid-template:10% repeat(2,26%) 27% 10% / 20% 60% 20%;
    grid-template-areas: 
    "header header header"
    "aside aside1 aside2"
    "aside aside1 aside2"
    "aside aside1 aside2"
    "footer footer footer";
}
#nav{
    grid-area: nav;
    width: 100%;
    height: 30px;
    background-color: orange;
    background-image: linear-gradient(to bottom, orange, yellow);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: end;
}
#aside1{
    grid-area: aside1;
    
    
}
#aside2{
    grid-area: aside2;
    background-color: orange;
    background-image: linear-gradient(to bottom, orange, white);
}

#aside{
    grid-area: aside;
    background-color: orange;
    background-image: linear-gradient(to bottom, orange, white);
}

#header{
    display: flex;
    grid-area: header;
    background-color: white;
    justify-content: stretch;
    flex-wrap: wrap;
}

#footer{
    grid-area: footer;
    background-color: hotpink;
}
.orangeborder{
    border:2px solid orangered;
}   
.border{
    border: 2px solid black;
}
.TitleLetter{
    height: 60.5px;
    letter-spacing: 140px;
    font-size: xx-large;
    overflow: hidden;
}
.title{
    display: flex;
    justify-content: space-between;

}
.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}
